<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>

    <link rel="stylesheet" href="/css/theme.css">
    <style>

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>Club Cyberia Bank</h1>
            <form method="post">
                <div class="container">
									<p>Account Number: {{data.accNum}}</p>
									<p>Type: {{data.accType}}</p>
									<p>Balance: {{data.accBalance}}</p>

									<button type="submit">Return</button>
                </div>
            </form>
        
        </div>
    </div>
</body>
</html>

