<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>
    <style>

        html,
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        html,input {
            background-color: #121212;
            color: white;
        }
        input {
            background-color: #3f3f3f3f;
            border: none;
            border-radius: 8px;
            padding: 7px;
            margin: 5px 0;
        }
        button {
            width: 100%;
            background-color: #a688fa;
            border-radius: 25px;
            cursor: pointer;
            margin-top: 10px;
            padding: 7px;
            font-weight: bold;
            border: none;
            color: black;
        }
        button:hover {
            color: white;
        }

        body {
            height: 100vh;
            width: 100vw;
        }

        * {
            box-sizing: border-box;
        }

        button {
            margin-top: 20px;
        }

        input {
        }

        .wrapper {
            padding: 15px;
            width: 400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            position: relative;
            top: -170px;
        }

        #username {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        #logoutBtn {
            opacity: 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            right: 0;
        }

        .usernameLogout {
            text-align: right;
        }

        .usernameLogout:hover #username {
            opacity: 0;
            cursor: pointer;
        }

        .usernameLogout:hover #logoutBtn {
            opacity: 1;
            cursor: pointer;
        }

        #logoutForm {
            display: none;
        }

        #accNum {
            width: 100%;
            margin: 20px 0;
        }


    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="usernameLogout">
                <span id="username">{{data.username}}</span>
                <span id="logoutBtn" onclick="logout()">Logout</span>
            </div>

            <h1>{{data.bankName}}</h1>
            <form method="post">
                <div class="container">

                    <input id="accNum" type="text" placeholder="Account number" name="accNum">

                    <div>
                        <input id="balance" type="radio" name="balance" onclick="clickRadioBtn()">
                        <label for="balance"><b>Balance</b></label>
                    </div>

                    <div>
                        <input id="deposit" type="radio" name="deposit" onclick="clickRadioBtn()">
                        <label for="deposit"><b>Deposit</b></label>
                    </div>

                    <div>
                        <input id="open-acc" type="radio" name="open-acc" onclick="clickRadioBtn()">
                        <label for="open-acc" ><b>Open Account</b></label>
                    </div>

                    <div>
                        <input id="withdrawal" type="radio", name="withdrawal" onclick="clickRadioBtn()">
                        <label for="withdrawal"><b>Withdrawal</b></label>
                    </div>

                    <button disabled ="submit-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <form id="logoutForm" method="get">
            <input type="text" name="logout" value="logout" autocomplete="on">
        </form>

    </div>
<script>
    function logout() {
        let logoutForm = document.getElementById('logoutForm')
        logoutForm.submit()
    }

    document.getElementById('balance').addEventListener('click', () => {
        document.getElementById('deposit').checked = false
        document.getElementById('withdrawal').checked = false
        document.getElementById('open-acc').checked = false
    })

    document.getElementById('deposit').addEventListener('click', () => {
        document.getElementById('balance').checked = false
        document.getElementById('withdrawal').checked = false
        document.getElementById('open-acc').checked = false
    })

    document.getElementById('open-acc').addEventListener('click', () => {
        document.getElementById('withdrawal').checked = false
        document.getElementById('balance').checked = false
        document.getElementById('deposit').checked = false
    })

    document.getElementById('withdrawal').addEventListener('click', () => {
        document.getElementById('balance').checked = false
        document.getElementById('deposit').checked = false
        document.getElementById('open-acc').checked = false
    })

</script>

</body>
</html>