<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>
    <link rel="stylesheet" href="/css/theme.css">

    <style>

        #username {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        #logoutBtn {
            opacity: 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            right: 0;
        }

        .usernameLogout {
            text-align: right;
        }

        .usernameLogout:hover #username {
            opacity: 0;
            cursor: pointer;
        }

        .usernameLogout:hover #logoutBtn {
            opacity: 1;
            cursor: pointer;
        }

        #logoutForm {
            display: none;
        }

        #accNum {
            width: 100%;
            margin: 20px 0;
        }

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="usernameLogout">
                <span id="username">{{data.username}}</span>
                <span id="logoutBtn" onclick="logout()">Logout</span>
            </div>

            {{> title}}
            <form method="post">
                <div class="container">

                    <input id="accNum" type="text" placeholder="Account number" name="accNum">

                    <div>
                        <input id="balance" type="radio" name="balance" onclick="clickRadioBtn()">
                        <label for="balance"><b>Balance</b></label>
                    </div>

                    <div>
                        <input id="deposit" type="radio" name="deposit" onclick="clickRadioBtn()">
                        <label for="deposit"><b>Deposit</b></label>
                    </div>

                    <div>
                        <input id="openAcc" type="radio" name="openAcc" onclick="clickRadioBtn()" checked="checked">
                        <label for="openAcc" ><b>Open Account</b></label>
                    </div>

                    <div>
                        <input id="withdrawal" type="radio", name="withdrawal" onclick="clickRadioBtn()">
                        <label for="withdrawal"><b>Withdrawal</b></label>
                    </div>

                    {{#if data.msg}}
                        <p class="err-msg">{{data.msg}}</p>
                    {{/if}}

                    <button  class="submit-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <form id="logoutForm" method="post" action="/logout">
            <input type="text" name="logout" value="logout" autocomplete="on">
        </form>

    </div>
<script>
    function logout() {
        let logoutForm = document.getElementById('logoutForm')
        logoutForm.submit()
    }

    {{!-- document.getElementById('openAcc').click() --}}

    document.getElementById('balance').addEventListener('click', () => {
        document.getElementById('deposit').checked = false
        document.getElementById('withdrawal').checked = false
        document.getElementById('openAcc').checked = false
    })

    document.getElementById('deposit').addEventListener('click', () => {
        document.getElementById('balance').checked = false
        document.getElementById('withdrawal').checked = false
        document.getElementById('openAcc').checked = false
    })

    document.getElementById('openAcc').addEventListener('click', () => {
        document.getElementById('withdrawal').checked = false
        document.getElementById('balance').checked = false
        document.getElementById('deposit').checked = false
    })

    document.getElementById('withdrawal').addEventListener('click', () => {
        document.getElementById('balance').checked = false
        document.getElementById('deposit').checked = false
        document.getElementById('openAcc').checked = false
    })

</script>

</body>
</html>