<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <style>

        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            width: 100vw;
        }

        * {
            box-sizing: border-box;
        }

        .wrapper {
            padding: 15px;
            width: 400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            position: relative;
            top: -170px;
        }

        #username {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        #logoutBtn {
            opacity: 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            left: 0;
        }

        .usernameLogout:hover #username {
            opacity: 0;
            cursor: pointer;
        }

        .usernameLogout:hover #logoutBtn {
            opacity: 1;
            cursor: pointer;
        }

        .usernameLogout {
            border: 1px solid purple;
        }

        #logoutForm {
            display: none;
        }

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>{{data.bankName}}</h1>
            <div class="usernameLogout">
                <span id="username">{{data.username}}</span>
                <span id="logoutBtn" onclick="logout()">Logout</span>
            </div>

            <form method="post">
                <div class="container">

                    <input type="text" placeholder="Account number" name="accNum">

                    <label for="balance"><b>Balance</b></label>
                    <input type="radio" placeholder="Enter Username" name="balance">

                    <label for="deposit"><b>Deposit</b></label>
                    <input type="radio" placeholder="Enter Password" name="deposit">

                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <form id="logoutForm" method="get">
            <input type="text" name="logout" value="logout" autocomplete="on">
        </form>

    </div>
<script>
    function logout() {
        let logoutForm = document.getElementById('logoutForm')
        logoutForm.submit()
    }
</script>

</body>
</html>