<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>

    <link rel="stylesheet" href="/css/theme.css">
    <style>

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            {{> title}}
            <form method="post">
                <div class="container">
                    <p>Account Number: {{data.accNum}}</p>

                    <label for="depositAmt"><b>Deposit Amount</b></label>
                    <input type="number" placeholder="0" name="depositAmt" required>

                    {{#if data.msg}}
                        <p class="err-msg">{{data.msg}}</p>
                    {{/if}}

                    <button name="submit" type="submit" value="submit">Submit Deposit</button>
                    <button name="cancel" type="submit" value="cancel" >Cancel Deposit</button>
                </div>
            </form>
        
        </div>
    </div>
</body>
</html>


