<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>
    <link rel="stylesheet" href="/css/theme.css">
    <style>
        label, input {
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            {{> title}}

            {{!-- <h1>Club Cyberia Bank</h1> --}}
            <form method="post">
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    {{#if data.msg}}
                        <p class="err-msg">{{data.msg}}</p>
                    {{/if}}

                    <button type="submit">Login</button>
                </div>
            </form>
        
        </div>
    </div>
</body>
</html>
