<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>
    <style>
        html,input {
            background-color: #121212;
            color: white;
            font-family: sans-serif;
        }
        input {
            background-color: #3f3f3f3f;
            border: none;
            border-radius: 8px;
            padding: 10px;
            margin: 10px 0;
        }
        button {
            width: 100%;
            background-color: #a688fa;
            border-radius: 25px;
            cursor: pointer;
            margin-top: 10px;
            padding: 10px;
            font-weight: bold;
            border: none;
            color: black;
        }
        button:hover {
            color: white;
        }

        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            width: 100vw;
        }

        * {
            box-sizing: border-box;
        }
        .wrapper {
            padding: 15px;
            width: 400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            position: relative;
            top: -170px;
        }

        label, input {
            display: block;
            width: 100%;
        }

        .err-msg {
            color: #cc0000;
        }

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>Club Cyberia Bank</h1>
            <form method="post">
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    {{#if data.msg}}
                        <p class="err-msg">{{data.msg}}</p>
                    {{/if}}

                    <button type="submit">Login</button>
                </div>
            </form>
        
        </div>
    </div>
</body>
</html>
