<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>

    <link rel="stylesheet" href="/css/theme.css">
    <style>

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            {{> title}}
            <form method="post">
                <div class="container">

                    <div>
                        <input id="chequing" type="radio" name="accType" value="chequing" >
                        <label for="accType"><b>Chequing</b></label>
                    </div>

                    <div>
                        <input id="savings" type="radio" name="accType" value="savings" >
                        <label for="accType"><b>Savings</b></label>
                    </div>

                    {{#if data.msg}}
                        <p class="err-msg">{{data.msg}}</p>
                    {{/if}}

                    <button id="submit" type="submit" name="submit" value="submit">Submit</button>
                    <button type="submit" name="cancel" value="cancel">Cancel</button>
                </div>
            </form>
        
        </div>
    </div>

    <script>
        document.getElementById('submit').disabled = true;

        document.getElementById("chequing").addEventListener("click", function() {
            console.log("happens")
            document.getElementById("submit").disabled = false;
            document.getElementById("savings").checked = false;
            console.log("happens2")
        });

        document.getElementById("savings").addEventListener("click", function() {
            document.getElementById("submit").disabled = false;
            document.getElementById("chequing").checked = false;
        }); 
    </script>
</body>
</html>


