<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Web Bank</title>

    <link rel="stylesheet" href="/css/theme.css">
    <style>

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            {{> title}}
            <form method="post">
                <div class="container">

                    <div>
                        <input id="chequing" type="radio" name="chequing" onclick="clickRadioBtn()">
                        <label for="chequing"><b>Chequing</b></label>
                    </div>

                    <div>
                        <input id="savings" type="radio" name="savings" onclick="clickRadioBtn()">
                        <label for="savings"><b>Savings</b></label>
                    </div>

                    {{#if data.msg}}
                        <p class="err-msg">{{data.msg}}</p>
                    {{/if}}

                    <button type="submit" name="submit" value="submit">Submit</button>
                    <button type="submit" name="cancel" value="cancel">Cancel</button>
                </div>
            </form>
        
        </div>
    </div>
</body>
</html>


